
<h1 style="color: #4485b8; text-align: center;">ChatBot Analytics Dashboard</h1>

<p><span style="color: #000000;"><b style="color: #000000;">This dashboard lists downs various metrics related to your chat </b><span style="color: #000000;"><b>transcripts</b></span><b style="color: #000000;">&nbsp;which shows the effectiveness of the chat conversations between your users and the BOT.</b></span><span style="color: #000000;"><b style="color: #000000;"></b></span></p>

<hr />

<p><span style="color: #000000;"><b style="color: #000000;">Top 10 Words used - Frequency</b></span></p>

<p><em><span style="color: #000000;">( This Metrics shows the top words which are being repeated in the Chat Transcripts by your users.)</span></em><span style="color: #000000;"></span></p>

<p><span style="color: #000000;">JSON: {{keydata}}</span></p>

<p><span style="color: #000000;"></span></p>
{% load static %}
<p><span style="color: #000000;"><img style="margin: 0px auto 5px; display: block;" src ="{% static 'dashboard/keyword.png' %}"  alt="Castle" width="155" height="156" /></span></p>

<hr />

<p><span style="color: #000000;"><b style="color: #000000;">Top 10 Words used - Context</b></span></p>

<p><em><span style="color: #000000;">( This Metrics shows the top words which are being asked w.r.t context in the Chat Transcripts by your users.)</span></em><span style="color: #000000;"></span></p>

<p><span style="color: #000000;">JSON: {{contextdata}}</span></p>
<p><span style="color: #000000;"></span></p>

{% load static %}
<p><span style="color: #000000;"><img style="margin: 0px auto 5px; display: block;" src="{% static 'dashboard/word.png' %}" alt="Castle" width="155" height="156" /></span></p>

<hr />

<p><span style="color: #000000;"><b style="color: #000000;">Top 10 Questions asked:</b></span></p>

<p><em><span style="color: #000000;">( This Metrics shows the top questions asked by the users. )</span></em><span style="color: #000000;"></span></p>

<h1 style="text-align: center;">{{q0}}</h1>

<h1 style="text-align: center;">{{q1}}</h1>

<h1 style="text-align: center;">{{q2}}</h1>

<h1 style="text-align: center;">{{q3}}</h1>

<h1 style="text-align: center;">{{q4}}</h1>

<h1 style="text-align: center;">{{q5}}</h1>

<h1 style="text-align: center;">{{q6}}</h1>

<h1 style="text-align: center;">{{q7}}</h1>

<h1 style="text-align: center;">{{q8}}</h1>

<h1 style="text-align: center;">{{q9}}</h1>


<p style="text-align: center;" ><span style="color: #000000;"></span></p>

<hr />

<p><span style="color: #000000;"><b style="color: #000000;">Average Conversation Time</b></span></p>

<p><em><span style="color: #000000;">( This Metrics shows the average time a user is spending with the BOT)</span></em><span style="color: #000000;"></span></p>

<h1 style="text-align: center;">{{output_avgtime}} Minutes</h1>

<hr />

<p><span style="color: #000000;"><b style="color: #000000;">Average Rating</b></span></p>

<p><em><span style="color: #000000;">( This Metrics shows the average rating the user has provided.)</span></em><span style="color: #000000;"></span></p>

<h1 style="text-align: center;">{{output_avgrating}} / 5</h1>

<hr />

<p><span style="color: #000000;"><b style="color: #000000;">Top 10 User Locations</b></span></p>

<p><em><span style="color: #000000;">( This Metrics shows the top words which are being asked w.r.t context in the Chat Transcripts by your users.)</span></em><span style="color: #000000;"></span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p0}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p1}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p2}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p3}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p4}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p5}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p6}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p7}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p8}}</span></p>

<p style="text-align: center;"><span style="color: #000000;">{{p9}}</span></p>

<p></p>

<hr />

<p></p>

<p><span style="color: #000000;">&nbsp;</span></p>

<p><span style="color: #000000;"></span></p>

<p><span style="color: #000000;">&nbsp;</span></p>

<p><span style="color: #000000;"></span></p>

<hr />

<p>* This is a Demo version</p>

<hr />

<p><em>&copy; htmlg.com</em></p>